{{ partial "header" . }}
<a style="margin-left:183px;" src="{{ .Site.BaseURL }}" class="h4">Back to Home</a>
<div style="padding-top:5px;"class="container">
    <h1 style="text-align:center;">404 Page Not Found</h1>
    <img src="{{ .Site.BaseURL }}{{ .Site.Params.gif }}" alt="404 cat gif" class="panel-cta center"/>
    <p style="text-align:center;" class="h4">Sorry! Looks like something might be wrong with a file path or is missing. Please notify me immediately through email and I'll be on it!</p>
</div>
{{ partial "footer" . }}